<!--The whole content below can be removed with the new code.-->
{{logged ? 'true' : 'false'}}
<input type="text" ngModel name="test" #test="ngModel" (input)="testCd = $event.target.value;" /> {{testCd}}
<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Angular demo
        </a>
      </div>
    </div>
  </nav>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

