/* You can add global styles to this file, and also import other style files */
body {
  padding: 30px 30px 0px 30px;
}

[hidden] {
  display: none !important;
}



@media (max-width: 979px) {
  body {
    padding: 0;
  }
}
